<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SampleServlet</servlet-name>
        <servlet-class>servlets.SampleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contacto</servlet-name>
        <servlet-class>servlets.Contacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateContact</servlet-name>
        <servlet-class>servlets.updateContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteContact</servlet-name>
        <servlet-class>servlets.deleteContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newContact</servlet-name>
        <servlet-class>servlets.newContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userValidation</servlet-name>
        <servlet-class>servlets.userValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newUser</servlet-name>
        <servlet-class>servlets.newUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getContact</servlet-name>
        <servlet-class>servlets.getContact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SampleServlet</servlet-name>
        <url-pattern>/SampleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contacto</servlet-name>
        <url-pattern>/Contacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateContact</servlet-name>
        <url-pattern>/updateContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteContact</servlet-name>
        <url-pattern>/deleteContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newContact</servlet-name>
        <url-pattern>/newContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userValidation</servlet-name>
        <url-pattern>/userValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newUser</servlet-name>
        <url-pattern>/newUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getContact</servlet-name>
        <url-pattern>/getContact</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
